/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.calendar {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 355px;
  gap: 8px;
  margin-bottom: 32px;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  width: auto;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:disabled,
button:disabled:hover {
  background: #cfcfcf;
  border: none;
  color: #989898;
}
button:hover {
  background: #6c8cff;
  color: #fff;
}
#datetime-picker {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  transition: border 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:active {
  border: 1px solid #4e75ff;
}
#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
  background: #fafafa;
}
.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 346px;
  gap: 24px;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
.flatpickr-day.selected {
  background: #4e75ff !important;
}
.flatpickr-day.today {
  border-color: #4e75ff !important;
}
.flatpickr-day:hover {
  background-color: #c1c1c1 !important;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delay {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input[type='number'] {
  box-sizing: border-box;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
input[type='number']:hover {
  border: 1px solid #000;
}
input[type='number']:active {
  border: 1px solid #4e75ff;
}
.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 360px;
  height: 78px;
  gap: 48px;
}
fieldset:hover {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #000;
}
label.snackbar {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
input[type='radio'] {
  width: 20px;
  height: 20px;
  border: 1px solid #757575;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 14px;
  transition: background-color 0.3s, border-color 0.3s;
}

button[type='submit'] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  margin-top: 24px;
}
button[type='submit']:hover {
  background: #6c8cff;
}
